<header class="d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-6">
        <div class="d-flex align-items-center">
          <div class="">
            <app-logo></app-logo>
          </div>
          <div class="ml-10">
            <p>ClickTik</p>
          </div>
        </div>
      </div>
      <div class="">
        <button class="btn btn-navigation text-color-gray">Log in</button>
      </div>
    </div>
  </div>
</header>
<app-divider></app-divider>
