@import "variables";

.product-card {
  max-width: 282px;
  border-radius: 8px;
  border: 0.5px solid #e7e7e7;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  }
}

.product-title {
  font-size: 20px;
  height: 50px;
  color: $color-gray-dark;
}

.product-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: $color-gray-dark;
}

.price {
  color: $color-gray-dark;
  font-size: 14px;
  font-weight: 700;
}

.original-price,
.discounted-price {
  font-size: 14px;
  font-weight: 400;
}

.original-price {
  text-decoration: line-through;
}

.product-meta {
  p {
    font-size: 14px;
    font-weight: 400;
    color: $color-gray-dark;
  }
  strong {
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    color: $color-gray-dark;
  }
}

.rating {
  font-size: 15px;
  font-weight: 600;
  line-height: 21.79px;
  text-align: center;
  color: #f4b000;
}

.rating-count {
  color: $color-text;
  font-weight: 400;
  line-height: 21.79px;
  opacity: 0.5;
}
.add-to-cart-btn {
  width: 100%;
  padding: 15px;
  background-color: $color-main;
  color: $color-gray-dark;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  font-weight: 700;
  line-height: 21.79px;
}

.add-to-cart-btn:hover {
  background-color: $color-main-hover;
}
.product-header {
  position: relative;
  height: 258px;
  img {
    height: 100%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}

.discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: $color-main;
  color: $color-gray-dark;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.52px;
  text-align: center;
}
