@import 'variables';

.search-bar {
    position: relative;

    input {
      background: #ffffff;
      border: 1px solid #d0d5dd;
      box-shadow: 0px 1px 2px 0px #1018280d;
      padding: 10px 30px;
      width: 100%;
      transition: all 0.4s ease-in-out;

      &::placeholder {
        padding-left: 15px;
      }
      &:focus-visible {
        outline: none;
        border: 1px solid $color-border-visible;
      }
    }
    .icon {
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }


  .cart {
    position: relative;

    .badge {
      position: absolute;
      top: -10px;
      right: -10px;
      height: 20px;
      width: 20px;
      display: flex;
      border-radius: 50%;
      border: 2px solid #ffffff;
      background: $color-main;
      align-items: center;
      justify-content: center;

      span {
        font-size: 10px;
        font-weight: 400;
        color: $color-gray-dark;
      }
    }
  }