/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}


img{
  max-width: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @for $i from 1 through 12 {
    .col-#{$i} {
      width: calc((100% / 12) * #{$i});
      padding: 0 10px;
    }
  }

  // Medium screens and up (e.g., tablets)
  @media (min-width: 768px) {
    @for $i from 1 through 12 {
      .col-#{$i} {
        width: calc((100% / 12) * #{$i});
        padding: 0 10px;
      }
    }
  }

  // Large screens and up (e.g., desktops)
  @media (min-width: 1024px) {
    @for $i from 1 through 12 {
      .col-#{$i} {
        width: calc((100% / 12) * #{$i});
        padding: 0 10px;
      }
    }
  }

  // Extra large screens and up (e.g., large desktops)
  @media (min-width: 1200px) {
    @for $i from 1 through 12 {
      .col-#{$i} {
        width: calc((100% / 12) * #{$i});
        padding: 0 10px;
      }
    }
  }
}


.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}
.justify-content-start {
  justify-content: flex-start;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}


.text-color-main {
  color: $color-main;
}
.text-color-gray {
  color: $color-gray;
}
.text-color-white {
  color: white;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 10px 15px;
  cursor: pointer;
}

.btn-navigation {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.text-login {
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  margin: 10px 0;
}

.text-sub-login {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $color-gray;
}

.text-center {
  text-align: center;
}

.bg-main {
  background: $color-main;
}

.border-radius-8 {
  border-radius: 8px;
}

.btn-login {
  background-color: $color-main;
  color: $color-gray-dark;
  width: 100%;
  border-radius: 8px;
  transition: all 0.7s ease-in-out;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.btn-login:hover {
  background-color: $color-main-hover;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}
.vh-100 {
  height: 100vh;
}
.vh-70 {
  height: 70vh;
}

footer {
  width: Fixed (1, 440px) px;
  height: 128px;
  top: 912px;
  padding: 48px 0px 48px 0px;
  gap: 64px;
  opacity: 0px;
  background-color: $color-footer;
}

@for $i from 1 through 50 {
  .p-#{$i}{
    padding: #{$i}px;
  }
  .m-#{$i} {
    margin: #{$i}px;
  }
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
  .mr-#{$i} {
    margin-right: #{$i}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
  .pl-#{$i} {
    padding-left: #{$i}px;
  }
  .pt-#{$i} {
    padding-top: #{$i}px;
  }
  .pr-#{$i} {
    padding-right: #{$i}px;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
}

.router-link-active {
  font-weight: bold;
  color: $color-main;
}

.link-navigation {
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  line-height: 24px;
  color: $color-gray;
  transition: all 0.4s ease-in-out;
  &:hover {
    color: $color-main;
  }
}


.text-right{
  text-align: right;
}